fastapi
uvicorn
starlette
python-multipart
pillow
qrcode
requests
tos
byteplus-python-sdk-v2
httpx
httpcore
h11
anyio
sniffio
distro
pydantic
pydantic-core
annotated-types
typing-extensions
certifi
charset-normalizer
idna
urllib3
crcmod
six
